<h3><%= @prompts.sample.description %></h3>

<%= form_for(@writing) do |f| %>
  <div>
    <%= f.text_area :content, :cols => "30", :rows => "30" %>
  </div>
  <div>
    <a href ="/writings" class="button">New Prompt</a>
    <%= f.submit "Save to Account", class: 'button' %>
  </div>
<% end %>

