<h1>Worksheets</h1>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#panel1">Intro</a>
    <div id="panel1" class="content active">
      This is an Intro to Worksheets
    </div>
  </dd>
  <dd>
    <a href="#panel2">Thought Record</a>
    <div id="panel2" class="content">
      <h2>Thought Record</h2>
      <h4>A thought record helps you reframe your automatic thoughts. Our negative thoughts can lead to negative feelings and maladaptive behaviors, the thought record can help promote a change in this behavior. It is a commonly used tool in Cognitive Behavior Therapy.</h4>

      <%= render 'thought_record_form' %>
    </div>
  </dd>
  <dd>
    <a href="#panel3">Problem Solving</a>
    <div id="panel3" class="content">
      <h2>Problem Solving</h2>
      <h4>This worksheet can help you to find the best (or least-worst) solution to a problem or worry. It does so by helping you brainstorm then look at the advantages and disadvantages of the solution.</h4>

      <%= render 'problem_solving_form' %>
    </div>
  </dd>
</dl>
















