<h1>Worksheets</h1>

<h2>Thought Record</h2>
<h4>A thought record helps you reframe your automatic thoughts. Our negative thoughts can lead to negative feelings and maladaptive behaviors, the thought record can help promote a change in this behavior. It is a commonly used tool in Cognitive Behavior Therapy.</h4>
<div class="row">
  <div class="large-6 columns">
<%= render 'thought_record_form' %>
</div>
</div>