<h1>About</h1>
MyChillPill is a Mental Health app developed by Elizahyde aka Elizabeth Ramberg. The idea came because of the developer's friends' experiences with lack of free, low-priced therapeutic resources during times of mental distress.

<h4>Contributions:</h4>
<ul>
  <li>Drawing Board: <a href="http://leimi.github.io/drawingboard.js/" target="_blank">drawingboard.JS</a></li>
  <li>Worksheets: <a href="http://www.psychologytools.org/" target="_blank">PsychologyTools.org</a></li>
  <li>Drawing Prompts: <a href="http://www.expressiveartworkshops.com/expressive-artists/100-art-therapy-exercises" target="_blank"> Expressive Art Workshop</a> and developer's own</li>
  <li>Writing Prompts: <a href="http://www.dailyteachingtools.com/journal-writing-prompts.html" target="_blank">Daily Teaching Tools</a> and developer's own</li>
</ul>

You can contact Elizabeth through her website at <a href="http://elizahyde.github.io" target="_blank">elizahyde.github.io</a>. In memory of C.