<div id="indexContainer">
  <img src="/draw.png" id="indexImage">
  <p id="indexText">
    Art and writing are ways of self-exploration and can lead to a general sense of relief and better mental health. MyChillPill provides a drawing board and free-writing area with prompts to let you express yourself in different ways. You can also complete commonly used therapy worksheets like Thought Records. Overall we hopt to help you be happier and healthier.
  </p>
</div>