body {
  background: #FEF9F0;
 }

.top-bar .name h1 a {
  font-family: 'Fredoka One', cursive;
}
.top-bar {
  background: #94C7C8;
 }

 .top-bar-section ul {
  background: #94C7C8;
 }

 .top-bar-section li:hover a {
     background: #94C7C8;
 }

 .top-bar-section ul li > a {
  background: #94C7C8;

 }

 .top-bar-section li:not(.has-form) a:not(.button) {
  background: #94C7C8;
 }

 #drawingBoard {
  width: 400px;
  height: 550px;
 }

 textarea {
  height: 300px;
}

.textbox {
  height: auto;
}
