Going through a stressful time or just need a break? Draw or write to a prompt
or complete a helpful worksheet all for free. Just <a href="/users/sign_in" data-reveal-id="myModal" data-reveal-ajax="true">sign in</a> or <a href="/users/sign_up" data-reveal-id="myModal" data-reveal-ajax="true">sign up</a> to begin.
<img src="/assets/draw.png">